In [11]:
#load data from big csv file
import pandas as pd

In [12]:
df = pd.read_csv('/home/scott/projects/RedTideResearch/test_data/habsos_20190211.csv')

In [13]:
df.head()

,objectid,description,latitude,longitude,state_id,sample_date,sample_depth,genus,species,category,...,water_temp,water_temp_unit,water_temp_qa,wind_dir,wind_dir_unit,wind_dir_qa,wind_speed,wind_speed_unit,wind_speed_qa,qa_comment
0,236280,"Station C 8, USFWS 1954-57",26.0867,-81.9083,FL,0153-06-29 11:46:38,9.4,Karenia,brevis,not observed,...,29.8,deg. C,1,NaN,NaN,4,NaN,NaN,4,WSPD unexpected data in input
1,101295,"Lemon Bay, Tom Adams Bridge",26.9345,-82.3535,FL,1953-08-19 04:00:00,0.5,Karenia,brevis,medium,...,NaN,NaN,4,NaN,NaN,4,NaN,NaN,4,WTEMP unexpected data in input;WSPD unexpected...
2,113186,Cortez Bridge,27.4684,-82.6937,FL,1953-08-26 04:00:00,0.5,Karenia,brevis,medium,...,NaN,NaN,4,NaN,NaN,4,NaN,NaN,4,WTEMP unexpected data in input;WSPD unexpected...
3,103642,Naples Pier,26.1324,-81.8069,FL,1953-08-26 04:00:00,0.5,Karenia,brevis,not observed,...,NaN,NaN,4,NaN,NaN,4,NaN,NaN,4,WTEMP unexpected data in input;WSPD unexpected...
4,247020,"Piney Point, Lee County",26.5334,-81.9796,FL,1953-08-26 04:00:00,0.5,Karenia,brevis,not observed,...,NaN,NaN,4,NaN,NaN,4,NaN,NaN,4,WTEMP unexpected data in input;WSPD unexpected...

In [14]:
df.shape

(159737, 26)

In [15]:
df.tail()

,objectid,description,latitude,longitude,state_id,sample_date,sample_depth,genus,species,category,...,water_temp,water_temp_unit,water_temp_qa,wind_dir,wind_dir_unit,wind_dir_qa,wind_speed,wind_speed_unit,wind_speed_qa,qa_comment
159732,331584,"West Bay Point, S of, North Bay",30.22422,-85.71397,FL,2019-02-07 16:50:00,0.5,Karenia,brevis,not observed,...,NaN,NaN,9,NaN,NaN,9,NaN,NaN,9,NaN
159733,331585,S. Marco Beach,25.91165,-81.72805,FL,2019-02-07 16:58:00,0.5,Karenia,brevis,not observed,...,20.9,deg. C,1,NaN,NaN,9,NaN,NaN,9,NaN
159734,331545,South Inlet Park,26.33470,-80.07171,FL,2019-02-07 17:20:00,0.5,Karenia,brevis,not observed,...,NaN,NaN,9,NaN,NaN,9,NaN,NaN,9,NaN
159735,331464,"New Pass Dock, Sarasota Bay",27.33375,-82.57938,FL,2019-02-07 19:40:00,0.5,Karenia,brevis,not observed,...,NaN,NaN,9,NaN,NaN,9,NaN,NaN,9,NaN
159736,331487,"Bay Dock, Sarasota Bay",27.33160,-82.57790,FL,2019-02-07 19:46:00,0.5,Karenia,brevis,not observed,...,NaN,NaN,9,NaN,NaN,9,NaN,NaN,9,NaN